In [2]:
import pandas as pd

In [10]:
friend_dict_list = [{'age': 20, 'job': 'student'},
         {'age': 30, 'job': 'developer'},
         {'age': 30, 'job': 'teacher'}]
df = pd.DataFrame(friend_dict_list, index = ['John', 'Jenny', 'Nate'])
df

       age        job
John    20    student
Jenny   30  developer
Nate    30    teacher

In [6]:
df.drop(['John', 'Nate'])

       age        job
Jenny   30  developer

In [14]:
df = pd.DataFrame(friend_dict_list, index = ['John', 'Jenny', 'Nate'])

In [15]:
df.drop(['John', 'Nate'], inplace = True)

In [12]:
df

       age        job
Jenny   30  developer

In [21]:
friend_dict_list = [{'name': 'Jone', 'age': 20, 'job': 'student'},
         {'name': 'Jenny', 'age': 30, 'job': 'developer'},
         {'name': 'Nate', 'age': 30, 'job': 'teacher'}]
df = pd.DataFrame(friend_dict_list)
df

    name  age        job
0   Jone   20    student
1  Jenny   30  developer
2   Nate   30    teacher

In [22]:
# drop row with index[]
df = df.drop(df.index[[0, 2]])
df

    name  age        job
1  Jenny   30  developer

In [25]:
df = pd.DataFrame(friend_dict_list)
df

    name  age        job
0   Jone   20    student
1  Jenny   30  developer
2   Nate   30    teacher

In [24]:
df = df[df.age > 20]
df

   name  age      job
0  Jone   20  student

In [26]:
df = pd.DataFrame(friend_dict_list)
df

    name  age        job
0   Jone   20    student
1  Jenny   30  developer
2   Nate   30    teacher

In [27]:
# column 삭제하기
df = df.drop('age', axis = 1)

In [28]:
df

    name        job
0   Jone    student
1  Jenny  developer
2   Nate    teacher